html{
	--color: #1890ff;
}

ol, ul, dl {
	list-style: none;
	padding: 0;
}

em{
	font-style: normal;
}

/* ▲标签 */
/* ▼类名 */

.center-box{
	/* width: 1170px; */
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.center-box02{
	padding: 0 calc((100% - 960px) / 2);
}

.be-center{
	text-align: center;
}

.ellipsis{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

